<!-- <div [ngClass]="{item:true, good:restaurant.address, bad:!restaurant.address}" (click)="onClick()">
  <h3>{{sno}} - {{restaurant.name}}({{restaurant.id}})</h3>
  <div *ngIf="restaurant.address == undefined else found">
    <h3 style="color:red">ADDRESS NOT FOUND</h3>
    <p>extra info</p>
  </div>
  <code>{{restaurant.location}}</code>
</div>

<ng-template #found>
  <p>{{restaurant.address?.toUpperCase()}}</p>
</ng-template> -->

<div class="item" [ngStyle]="itemStyle" (click)="onClick()">
  <h3>{{sno}} - {{restaurant.name}}({{restaurant.id?.$id}})</h3>
  <div *ngIf="restaurant.address == undefined else found">
    <h3 style="color:red">ADDRESS NOT FOUND</h3>
    <p>extra info</p>
  </div>
  <code>{{restaurant.location}}</code>
  <h4>{{restaurant.budget | currency:'EUR':'symbol':'4.2-2'}}</h4>
  <p>Website : {{restaurant.details | domain:false }}</p>
</div>

<ng-template #found>
  <p>{{restaurant.address | lowercase}}</p>
</ng-template>