<h2 [title]="type" [style.color]="type.length > 10 ? 'red' : 'green'" (click)="onClick($event)" (mouseover)="onMouseOver($event)">{{
  type.length > 10 ?
  type.toUpperCase() :
  type.toLowerCase()}} Restaurants</h2>
<h4>Selected restaurant Id: {{selectedRestaurantId}}</h4>
<blr-item [restaurant]="restaurants[0]" (selected)="onSelected($event)"></blr-item>
<blr-item [restaurant]="restaurants[1]" (selected)="onSelected($event)"></blr-item>
<blr-item [restaurant]="restaurants[2]" (selected)="onSelected($event)"></blr-item>